.cardc {
    border: 10px solid red;
    width: 18rem;
    height: 30rem;
    z-index: "2";
    background-color: #212529;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}



.colm {
    color: #3399FF;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;




}

.imgm {
    width: 14rem;
    height: 22rem;
    border-radius: "5px";

}



.cont-button {
    display: flex;
    width: 230px;
}

.cont-button button {
    height: 40px;
    width: 230px;
}