.search{
    text-align: center;
    margin-top: 20px;
     color: white
}

.search-in{
    border-radius:15px; 
    border:none;
    width: 600px;
    height: 40px;
    margin-bottom: 30px;
}

.search-in:focus{
   outline: none;
}

.title{
    color:white;
    font-family: "Roboto";
    margin-bottom: 35px;
}

.contGenreList{
    display: flex;
}

.notFound{
    margin-top: 50px;
}

@media (max-width: 730px){
    .search-in{
        width: 300px
    }
}
