@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,200;1,400&display=swap');

.header{
    background-color: #2398f1;
    width: 100% !important;
    font-size: 20px;
    padding: 0px;
   
    
}

.header li{
    color: white;
    list-style: none;
    display: block;
}

.header ul{
   
    display: flex;
  
}

.nav2{
    padding-top: 10px;
}


@media (max-width: 500px){
    .header ul{
        flex-direction: column;
    }
   
}

