@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;0,8..144,600;1,8..144,900&family=Roboto:wght@500;700&display=swap');

.detail-cont {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: #65B2FF;
    font-weight: bold;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.cardb {
    background-color: red;
    width: '5rem'
}

.detail-cont2 {
    font-family: arial;
    font-weight: 700;
    display: flex;
    flex-direction: row;

    position: relative;
    padding: 32px;
    width: 70%;
    max-width: 900px;
    height: 600px;
    

}

h3 {
    color: black;
}

.detail-cont2 img {
    border-radius: 6px;
    width: 300px;
    height: 500px;
    
}

.detail-cont2 button {
    margin-left: 620px;
    background-color: rgba(119, 119, 119, 0);
    border: none;
    font-size: 35px;

}

.detail-cont3 {
    width: 1000px;
    margin-left: 100px;
}

.close-btn {
    background-color: rgba(119, 119, 119, 0);
    color:grey;
    border-style: none;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 550px 350px;
}

.close-btn:hover {
    color: #145DA0;
}